body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: space-around;
}

.item {
    align-self: auto;
    text-align: center;
}

.status { 
    font-size: 4em;
    text-transform: uppercase;
    line-height: 150px;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px solid #000;
}

.on {
    background-color: gold;
}

.off {
    background-color: #F00;
}